<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    <controls>
        <include>GlobalBackground</include>
        <include>Furniture_Header</include>
        <include>Furniture_Clock</include>
        <include>Furniture_NowPlaying</include>
        <control type="group">
			<include>Animation.Common</include>
            <control type="image">
			    <description>right panel mask image</description>
			    <posx>580</posx>
			    <posy>190</posy>
			    <width>1259</width>
                <height>740</height>
			    <texture border="5" colordiffuse="Black">common/white.png</texture>
            </control>
	    <!--Right Panel-->		
			<control type="image">
                <posx>591</posx>
                <posy>201</posy>
                <width>1236</width>
                <height>718</height>
				<texture colordiffuse="Panel" border="12">buttons/dialoge_inner.png</texture>
            </control>
	    <!--Right Panel Borders-->	
		    <control type="image">
                <posx>580</posx>
                <posy>190</posy>
                <width>1259</width>
                <height>740</height>
                <texture colordiffuse="Panel" border="8">dialog/frame_Landscape-fo.png</texture>
            </control>
			<control type="image">
			    <description>left panel mask image</description>
			    <posx>75</posx>
			    <posy>190</posy>
			    <width>479</width>
                <height>740</height>
			    <texture border="5" colordiffuse="Black">common/white.png</texture>
            </control>
	    <!--Left Panel-->		
			<control type="image">
                <posx>84</posx>
                <posy>201</posy>
                <width>461</width>
                <height>718</height>
				<texture colordiffuse="Panel" border="12">buttons/dialoge_inner.png</texture>
            </control>
        <!--Left Panel Borders-->	
		    <control type="image">
                <posx>75</posx>
                <posy>190</posy>
                <width>479</width>
                <height>740</height>
                <texture colordiffuse="Panel" border="8">dialog/frame_Landscape-fo.png</texture><!-- replaced Dark1-->
            </control>
			<control type="image">
                <posx>84</posx>
                <posy>570</posy>
                <width>461</width>
                <height>5</height>
                <texture colordiffuse="Black" border="5">common/separator.png</texture><!-- replaced Dark1-->
            </control>

	    <!--Left Panel(Icons)-->	
			<control type="group">
			    <posx>84</posx>
                <posy>201</posy>
                <width>461</width>
                <height>718</height>					
				<control type="image">
					<left>6</left>
					<width>450</width>
					<top>30</top>
					<height>400</height>
					<texture background="true">$INFO[Container(9100).ListItem.ActualIcon]</texture>
				</control>
	        <!--Left Panel Icon Label-->		
				<control type="label">
					<left>25</left>
					<width>550</width>
					<top>20</top>
					<height>60</height>
					<font>MediumSmallBold</font>
					<textcolor>PanelWhite100</textcolor>
					<label>$INFO[Container(9100).ListItem.Label]</label>
				</control>		
			
		    <!--Left Panel Info TextBox-->
                <control type="textbox">
                    <top>400</top>
                    <bottom>30</bottom>
                    <right>10</right>
					<left>30</left>
                    <align>left</align>
                    <font>Tiny</font>
                    <textcolor>PanelWhite100</textcolor>
                    <label>$INFO[Container(9100).ListItem.Label2]</label>
                </control>
			</control>
			
		<!--Up/Down Arrows-->	
			<!--<control type="group">
                <control type="image">
				    <description>arrow image</description>
				    <posy>235</posy>
				    <posx>100</posx>
				    <width>20</width>
				    <height>25</height>
				    <texture colordiffuse="Dark1" flipy="true">common/arrow-small.png</texture>
				    <visible>Container(9100).HasPrevious</visible>
			    </control>
			    <control type="image">
				    <description>arrow image</description>
				    <posy>848</posy>
				    <posx>100</posx>
				    <width>20</width>
				    <height>25</height>
				    <texture colordiffuse="Dark1" flipy="false">common/arrow-small.png</texture>
				    <visible>Container(9100).HasNext</visible>
			    </control>
			</control>-->
			
		<!--Settings Icon Boxes-->
			<control type="panel" id="9100">
				<posx>626</posx>
                <posy>237</posy>
                <width>1236</width>
                <height>718</height>
				<onup>9100</onup>
				<ondown>9100</ondown>
				<orientation>vertical</orientation>
				<preloaditems>4</preloaditems>               
				<itemlayout width="300" height="220">
		    <!--Box NoFocus-->
		            <control type="image">
                        <width>260</width>
                        <height>200</height>                       
						<texture colordiffuse="Black" border="25">buttons/dialoge_shadow.png</texture>
						<shadowcolor>Black</shadowcolor>
                    </control>
		    <!--Thumb Icon NoFocus-->			
                    <control type="image">
					    <posy>12</posy>
                        <width>260</width>
                        <height>200</height>
						<colordiffuse>Dark1</colordiffuse>
						<texture>$INFO[ListItem.Thumb]</texture>
						<aspectratio align="center">keep</aspectratio>
                    </control>
		    <!--Label NoFocus-->
		            <control type="image">
					    <posx>4</posx>
					    <posy>22</posy>
                        <width>196</width>
                        <height>18</height>                       
						<texture colordiffuse="Dark4" border="20">common/box.png</texture>
                    </control>
		    <!--Label Text NoFocus-->			
                    <control type="label">
                       <height>10</height>
                       <posy>24</posy>
                       <width>205</width>
                       <align>center</align>
                       <font>Button</font>
                       <textcolor>$VAR[ButtonTextColour]</textcolor>
                       <label>$INFO[ListItem.Label]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="300" height="220">
		    <!--Box Focus-->		
                    <control type="image">
                        <width>256</width>
                        <height>196</height>                       
						<texture colordiffuse="Black" border="20">common/box.png</texture>
                    </control>
			<!--Box Focus Border-->		
					<control type="image">
                        <width>260</width>
                        <height>200</height>                       
						<texture colordiffuse="Grey" border="30">buttons/dialoge_shadow.png</texture>
                    </control>
		    <!--Thumb Icon Focus-->			
					<control type="image">
					    <posy>12</posy>
                        <width>260</width>
                        <height>200</height>
						<texture>$INFO[ListItem.Thumb]</texture>
						<aspectratio align="center">keep</aspectratio>
                    </control>
		    <!--Label Focus-->			
					<control type="image">
					    <posy>22</posy>
                        <width>205</width>
                        <height>18</height>                       
						<texture colordiffuse="$VAR[ButtonFocusColour]" border="20">common/box.png</texture>
                    </control>
		    <!--Label Text Focus-->			
                    <control type="label">
                        <height>10</height>
                        <posy>24</posy>
                        <width>205</width>
                        <align>center</align>
                        <font>Button</font>
                        <textcolor>$VAR[ButtonFocusTextColour]</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </focusedlayout>
            <!--Settings-->        
				<content>
				    <item id="2">
					    <description>Skin Settings</description>
					    <label>20077</label>
                        <label2>31166</label2>
					    <onclick>activatewindow(SkinSettings)</onclick>
                        <icon>special://skin/extras/icons2/skin.png</icon>
						<thumb>special://skin/extras/icons/skinsettings.png</thumb>
				    </item>
				    <item id="1">
                        <description>Appearance</description>
                        <label>14206</label>
                        <label2>31156</label2>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                        <icon>special://skin/extras/icons2/appearance.png</icon>
						<thumb>special://skin/extras/icons/controlpanel.png</thumb>
                    </item>
                    <item id="3">
                        <description>Addons</description>
                        <label>24001</label>
                        <label2>31162</label2>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                        <icon>special://skin/extras/icons2/addons.png</icon>
						<thumb>special://skin/extras/icons/addon.png</thumb>
                    </item>         
                    <item id="4">
                        <description>Media</description>
                        <label>14211</label>
                        <label2>31157</label2>
                        <onclick>activatewindow(MediaSettings)</onclick>
                        <icon>special://skin/extras/icons2/library.png</icon>
						<thumb>special://skin/extras/icons/soundwave.png</thumb>
                    </item>
				    <item id="5">
                        <description>Player</description>
                        <label>14200</label>
                        <label2>31158</label2>
                        <onclick>activatewindow(PlayerSettings)</onclick>
                        <icon>special://skin/extras/icons2/video.png</icon>
						<thumb>special://skin/extras/icons/play.png</thumb>
                    </item>
				    <item id="6">
                        <description>Live TV</description>
                        <label>19191</label>
                        <label2>31163</label2>
                        <onclick>activatewindow(pvrsettings)</onclick>
                        <icon>special://skin/extras/icons2/tvremote.png</icon>
						<thumb>special://skin/extras/icons/livetv.png</thumb>
                    </item>
				    <item id="7">
                        <description>Services</description>
                        <label>14036</label>
                        <label2>31164</label2>
                        <onclick>activateWindow(servicesettings)</onclick>
                        <icon>special://skin/extras/icons2/network.png</icon>
						<thumb>special://skin/extras/icons/network.png</thumb>
                    </item>
				    <item id="8">
                        <description>System</description>
                        <label>13000</label>
                        <label2>31161</label2>
                        <onclick>activatewindow(SystemSettings)</onclick>
                        <icon>special://skin/extras/icons2/settings.png</icon>
						<thumb>special://skin/extras/icons/hdd.png</thumb>
                    </item>
                    <item id="9">
                        <description>System Info</description>
                        <label>130</label>
                        <label2>31167</label2>
                        <onclick>activatewindow(7)</onclick>
                        <icon>special://skin/extras/icons2/sysinfo.png</icon>
						<thumb>special://skin/extras/icons/sysinfo.png</thumb>
                    </item>
                    <item id="10">
					   <description>Profiles</description>
					   <label>13200</label>
                       <label2>31165</label2>
					   <onclick>activatewindow(Profiles)</onclick>
                       <icon>special://skin/extras/icons2/profiles.png</icon>
					   <thumb>special://skin/extras/icons/artist.png</thumb>
				    </item>
                </content>
				
			</control>	
        </control>
    </controls>
</window>		
				

