<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <include>GlobalBackground</include>
        <include>Furniture_Header</include>
        <include>Furniture_Clock</include>
        <include>Furniture_NowPlaying</include>
        <control type="group">
			<include>Animation.Common</include>

	<!-- Right Panel -->		
			<control type="image">
                <posx>594</posx>
                <posy>203</posy>
                <width>1230</width>
                <height>712</height>
				<texture colordiffuse="Panel" border="12">dialog/frame-fo.png</texture>
            </control>
	<!-- Left Panel -->		
			<control type="image">
                <posx>85</posx>
                <posy>203</posy>
                <width>450</width>
                <height>712</height>
				<texture colordiffuse="FF090A0A" border="12">dialog/frame_fo.png</texture>
            </control>
    <!-- Left Panel Borders -->	
		    <control type="image">
                <posx>75</posx>
                <posy>190</posy>
                <width>479</width>
                <height>740</height>
                <texture colordiffuse="Panel" border="8">dialog/frame_Landscape-fo.png</texture><!-- replaced Dark1-->
            </control>		
	<!-- Right Panel Borders -->	
		    <control type="image">
                <posx>580</posx>
                <posy>190</posy>
                <width>1259</width>
                <height>740</height>
                <texture colordiffuse="Panel" border="8">dialog/frame_Landscape-fo.png</texture>
            </control>
			
		<!--Pictures (Icons)-->	
			<control type="group">
			    <posx>600</posx>
                <posy>190</posy>
                <width>1100</width>
                <height>775</height>					
				<control type="image">
					<left>35</left>
					<width>570</width>
					<top>8</top>
					<height>725</height>
					<texture background="true">$INFO[Container(9100).ListItem.Property(image)]</texture>
				</control>
		<!--Icon Label-->		
				<control type="label">
					<left>25</left>
					<width>550</width>
					<top>20</top>
					<height>60</height>
					<font>MediumSmallBold</font>
					<textcolor>PanelWhite100</textcolor>
					<label>$INFO[Container(9100).ListItem.Label]</label>
				</control>
            </control>
			
			<control type="group">
			    <posy>190</posy>
				<right>100</right>
				<width>600</width>
                <height>740</height>
			
		<!--Info TextBox-->
                <control type="textbox">
                    <top>40</top>
                    <bottom>30</bottom>
                    <right>20</right>
					<left>50</left>
                    <align>left</align>
                    <font>Tiny</font>
                    <textcolor>PanelWhite100</textcolor>
                    <label>$INFO[Container(9100).ListItem.Label2]</label>
                </control>
			</control>
			
		<!--Up/Down Arrows-->	
			<control type="group">
                <control type="image">
				    <description>arrow image</description>
				    <posy>235</posy>
				    <posx>100</posx>
				    <width>20</width>
				    <height>25</height>
				    <texture colordiffuse="Dark1" flipy="true">common/arrow-small.png</texture>
				    <visible>Container(9100).HasPrevious</visible>
			    </control>
			    <control type="image">
				    <description>arrow image</description>
				    <posy>848</posy>
				    <posx>100</posx>
				    <width>20</width>
				    <height>25</height>
				    <texture colordiffuse="Dark1" flipy="false">common/arrow-small.png</texture>
				    <visible>Container(9100).HasNext</visible>
			    </control>
			</control>
			
		<!-- Settings Buttons -->
			<control type="list" id="9100">
				<posx>135</posx>
                <posy>225</posy>
                <width>480</width>
                <height>660</height>
				<onup>9100</onup>
				<ondown>9100</ondown>
                <viewtype label="List">list</viewtype>                
				<itemlayout width="420" height="66">
		<!--Button No Focus-->		
                    <control type="image">
                        <width>375</width>
                        <height>60</height>
					    <texture colordiffuse="$VAR[ButtonColour]" border="20">common/box.png</texture>
                    </control>
		<!--Label No Focus-->			
                    <control type="label">
                       <height>60</height>
                       <posx>40</posx>
                       <width>375</width>
                       <align>left</align>
                       <font>Button</font>
                       <textcolor>$VAR[ButtonTextColour]</textcolor>
                       <label>$INFO[ListItem.Label]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="420" height="66">
		<!--Button Focus-->		
                    <control type="image">
                        <width>375</width>
                        <height>60</height>                       
						<texture colordiffuse="$VAR[ButtonFocusColour]" border="20">common/box.png</texture>
                    </control>
		<!--Label Focus-->			
                    <control type="label">
                        <height>60</height>
                        <posx>40</posx>
                        <width>375</width>
                        <align>left</align>
                        <font>Button</font>
                        <textcolor>$VAR[ButtonFocusTextColour]</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                </focusedlayout>
            <!--Settings-->        
				<content>
				    <item id="2">
					    <description>Skin Settings</description>
					    <label>20077</label>
                        <label2>31166</label2>
					    <onclick>activatewindow(SkinSettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonProgram.png</property>
				    </item>
				    <item id="1">
                        <description>Appearance</description>
                        <label>14206</label>
                        <label2>31156</label2>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonSkin.png</property>
                    </item>
                    <item id="3">
                        <description>Addons</description>
                        <label>24001</label>
                        <label2>31162</label2>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddon.png</property>
                    </item>         
                    <item id="4">
                        <description>Media</description>
                        <label>14211</label>
                        <label2>31157</label2>
                        <onclick>activatewindow(MediaSettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonMusicVideoInfo.png</property>
                    </item>
				    <item id="5">
                        <description>Player</description>
                        <label>14200</label>
                        <label2>31158</label2>
                        <onclick>activatewindow(PlayerSettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultPlaylist.png</property>
                    </item>
				    <item id="6">
                        <description>Live TV</description>
                        <label>19191</label>
                        <label2>31163</label2>
                        <onclick>activatewindow(pvrsettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonPVRClient.png</property>
                    </item>
				    <item id="7">
                        <description>Services</description>
                        <label>14036</label>
                        <label2>31164</label2>
                        <onclick>activateWindow(servicesettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonWebSkin.png</property>
                    </item>
				    <item id="8">
                        <description>System</description>
                        <label>13000</label>
                        <label2>31161</label2>
                        <onclick>activatewindow(SystemSettings)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonService.png</property>
                    </item>
                    <item id="9">
                        <description>System Info</description>
                        <label>130</label>
                        <label2>31167</label2>
                        <onclick>activatewindow(7)</onclick>
                        <property name="image">special://skin/media/default/DefaultAddonSubtitles.png</property>
                    </item>
                    <item id="10">
					   <description>Profiles</description>
					   <label>13200</label>
                       <label2>31165</label2>
					   <onclick>activatewindow(Profiles)</onclick>
                       <property name="image">special://skin/media/default/DefaultUser.png</property>
				    </item>
                </content>
				
			</control>	
        </control>
    </controls>
</window>		
				

